//- Adresse
mj-section(padding='0')
    mj-column(width='88%')
        mj-image(padding="0" border='none' width="150px" src="https://img.mailinblue.com/3403292/images/content_library/original/65ffed0f9d8a3bdbe17813ef.png" alt="Logo Ecosup-Campus")/
        mj-text(padding-top='0' padding-bottom='0' align='center' mj-class='T12-300 cT') #[a(style="text-decoration:none;color:#313c4e;" href="https://www.google.com/maps/@50.72132372645463,3.1568485683426477?ll=50.72132372645463,3.1568485683426477&z=12&q=Ecosup+Campus" ) 17 Place Charles et Albert Roussel]
        mj-text(padding-top='0' padding-bottom='0' align='center' mj-class='T12-300 cT') #[a(style="text-transform:uppercase;text-decoration:none;color:#313c4e;" href="https://www.google.com/maps/@50.72132372645463,3.1568485683426477?ll=50.72132372645463,3.1568485683426477&z=12&q=Ecosup+Campus") 59200 tourcoing]
        mj-text(padding-top='0' padding-bottom='0' align='center' mj-class='T12-300') #[a(style="font-weight:700;color:#2D3748" href="tel:0320700606") 03.20.70.06.06]
        mj-text(padding-top='0' align='center' mj-class='T12-300') #[a(style="font-weight:700;color:#2D3748;" href="mailto:contact@ecosup-campus.fr") contact@ecosup-campus.fr]