mj-section(direction="rtl")
    mj-column(width="30%")
        mj-image(padding="0" width="180px" src="https://i.ibb.co/1GV56bKW/artCom02.png" target="_blank" href="https://ecosup-commerce.fr/decrocher-contrat-alternance-3-etapes-cles-pour-reussir/" alt="Alternant en entreprise accompagné de ses tuteurs")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase" ) Partenaire
        mj-text(padding="0 25px" mj-class="T28-300 cO") Air Training Academy, centre de formation agréé et spécialisé dans les métiers de l'aérien
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT") Avec plus de 30 années d'expérience, #[span(style="font-weight:700;color:#2D3748;") Air Training Academy] est un organisme reconnu pour son expertise dans la formation des équipages de cabine avec les préparations au Cabin Crew Attestation (agrément FR.CCA.06), aux sélections des Compagnies Aériennes PNC et PNT, anglais aéronautique et au TOIEC. Grâce à ce partenariat, vous bénéficiez :
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x25CF;] #[span(style="font-weight:700;color:#2D3748;") D'instructeurs expérimentés], issus du secteur aérien et certifiés par la Direction Générale de l'Aviation Civile (DGAC).
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x25CF;] #[span(style="font-weight:700;color:#2D3748;") D'un encadrement professionnel avec des équipements et infrastructures de pointe] pour des mises en situation réalistes.
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x25CF;] #[span(style="font-weight:700;color:#2D3748;") D'un accompagnement vers l'emploi] pour maximiser vos chances d'être recruté(e) par une compagnie aérienne dès l'obtention de votre attestation.