mj-section(direction="rtl")
    mj-column(width="30%")
        mj-image(padding="0" width="180px" src="https://i.ibb.co/1GV56bKW/artCom02.png" target="_blank" href="https://ecosup-commerce.fr/decrocher-contrat-alternance-3-etapes-cles-pour-reussir/" alt="Alternant en entreprise accompagné de ses tuteurs")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase" ) Alternance
        mj-text(padding="0 25px" mj-class="T28-300 cO") Décrocher un contrat d'alternance&nbsp;: 3 étapes clés pour réussir
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT") Pour décrocher une #[span(style="font-weight:700;color:#2D3748;") alternance], définissez vos objectifs, ciblez les entreprises et utilisez les plateformes d'emploi. #[span(style="font-weight:700;color:#2D3748;") Soignez CV] et #[span(style="font-weight:700;color:#2D3748;") lettre de motivation], personnalisez-les pour chaque offre. Préparez vos entretiens en vous renseignant sur l'entreprise. Soyez persévérant, l'#[span(style="font-weight:700;color:#2D3748;") alternance] est avant tout une formation.
        mj-text(padding="15px 25px" align="right" mj-class="T14-400") #[a(style="color:#EC6608;text-decoration:none;" target="_blank" href="https://ecosup-commerce.fr/decrocher-contrat-alternance-3-etapes-cles-pour-reussir/") En savoir plus...]