mj-section
    mj-column(width="55%")
        mj-image(padding="0" width="330px" src="https://i.ibb.co/zV6LQmkp/artCom03.png" target="_blank" href="https://ecosup-commerce.fr/etudiants-bts-professions-immobilieres-participe-trois-conferences/" alt="Présentation des 3 intervenants :Jérôme Delettré de Tuto at Home, Quentin Vandekerchove de l'agence Ekimo Immobilier et Esteban Gheniou de Pôlénergie")/
    mj-column(width="45%")
        mj-spacer(height="20px")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase") Alternance
        mj-text(padding="0 25px" mj-class="T28-300 cO") Nos étudiants ont participé à trois conférences passionnantes&nbsp;! 
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT" ) Trois conférences ont enrichi nos étudiants&nbsp;: #[span(style="font-weight:700;color:#2D3748;") travaux immobiliers] #[span(style="font-style:italic;") (J. Delettré)], #[span(style="font-weight:700;color:#2D3748;") vente interactive] #[span(style="font-style:italic;") (Q. Vandekerchove)] et #[span(style="font-weight:700;color:#2D3748;") recharge électrique] #[span(style="font-style:italic") (E. Gheniou)]. Un grand merci aux intervenants&nbsp;!
        mj-text(padding="10px 25px" align="right" mj-class="T14-700") #[a(style="color:#EC6608;text-decoration:none;" target="_blank" href="https://ecosup-commerce.fr/etudiants-bts-professions-immobilieres-participe-trois-conferences/" ) En savoir plus...] 