mj-section(padding="0 25px")
    mj-column
        mj-image(padding="0" width="550px" src="https://i.ibb.co/23cT3zzm/artCom01.png" target="_blank" href="https://ecosup-commerce.fr/alternance-modele-educatif-vent-en-poupe/" alt="groupe d'étudiants en alternance présentant leur projet.")/
mj-section(padding-top="0")
    mj-column(width="40%")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase") Dossier
        mj-text(padding="0 25px" mj-class="T28-300 cO") L'alternance&nbsp;: un modèle éducatif qui a le vent en poupe.
    mj-column(width="60%")
        mj-spacer(height="15px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT") L'#[span(style="font-weight:700;color:#2D3748;") alternance] combine formation académique et expérience professionnelle rémunérée, offrant une approche pédagogique mélant #[span(style="font-weight:700;color:#2D3748;") théorie et pratique]. Elle favorise l'insertion professionnelle en permettant aux étudiants d'acquérir des #[span(style="font-weight:700;color:#2D3748;") compétences recherchées] et un réseau.
        mj-text(padding="5px 25px" mj-class="T16-400 cT") Deux contrats existent : #[span(style="font-weight:700;color:#2D3748;") apprentissage] #[span(style="font-style:italic;") (pour un diplôme)] et #[span(style="font-weight:700;color:#2D3748;") professionnalisation] #[span(style="font-style:italic") (pour l'emploi)]. Trouver une école et une entreprise est essentielle. L'#[span(style="font-weight:700;color:#2D3748;") alternance] facilite l'accès à des secteurs porteurs et améliore l'#[span(style="font-weight:700;color:#2D3748;") employabilité des jeunes].
        mj-text(padding="10px 25px" align="right" mj-class="T14-700") #[a(style="color:#EC6608;text-decoration:none;" target="_blank" href="https://ecosup-commerce.fr/alternance-modele-educatif-vent-en-poupe/" ) En savoir plus...]