mj-section(padding="0 25px")
    mj-column
        mj-image(padding="0" width="550px" src="https://i.ibb.co/23cT3zzm/artCom01.png" target="_blank" href="https://ecosup-commerce.fr/alternance-modele-educatif-vent-en-poupe/" alt="groupe d'étudiants en alternance présentant leur projet.")/
mj-section(padding-top="0")
    mj-column(width="40%")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase") Air Training Academy
        mj-text(padding="0 25px" mj-class="T28-300 cO") Initiation à l'aéronautique - programme d'intervention
    mj-column(width="60%")
        mj-spacer(height="15px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Historique de l'industrie, 
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Différents métiers : du Personnel au sol(agents d'escale, agents de sureté...) et les Navigants (hôtesses, stewards, pilotes),
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Compagnies aériennes,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Quotidien des professionnels de l'aéronautique,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Concept d'équipage, hiérarchie, entraide et confiance,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Gestion du stress et des conflits,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Gestion du décalage horaire et de la fatigue,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Aéronautique et empreinte carbone,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Contexte actuel,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Potentiel de développement et futur de l'industrie,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;]Jeux de rôle,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Mise en situation,
        mj-text(padding="5px 25px" mj-class="T16-400 cT") #[span(style="color:#a8c1d7;") &#x27A4;] Anecdotes.