mj-section(padding="20px")
    mj-column(width="100%" padding="10px" padding-top="0px")
        mj-text(padding="5px 0" padding-bottom="0" align="center" mj-class="T28-300 cO") Rejoignez Ecosup Tourisme&nbsp;:
        mj-text(padding="5px 0" padding-top="0" align="center" mj-class="T28-300 cO") Fly to your futur
        mj-text(padding="5px 0" mj-class="T16-400 cT") #[span(style="font-weight:700;color:#2D3748;") Ecosup Campus] et #[span(style="font-weight:700;color:#2D3748;") Air Training Academy]  #[span(style="font-style:italic") (Paris)] s'associent pour proposer à nos étudiants en BTS Tourisme une session d'#[span(style="font-weight:700;color:#2D3748;") initiation à l'aéronautique], qui a eu lieu cette semaine sur 4 jours. 
        mj-text(padding="5px 0" mj-class="T16-400 cT") Cette semaine aéronautique qui s'est tenue à l'école fait partie d'un partenariat plus large, impliquant une #[span(style="font-weight:700;color:#2D3748;") semaine de mobilité] à Toulouse sur les terres d'#[span(style="font-weight:700;color:#2D3748;") Airbus]  #[span(style="font-style:italic") (visites, conférences, rencontres avec des professionnels, hôtesses et stewards, visite de Toulouse...)] pour nos futurs étudiants en BTS Tourisme.
    mj-group(width="100%")
        mj-column(padding-bottom="20px")
            mj-image(padding="0" align="right" width="180px" src="https://i.ibb.co/m5yLLHhS/Ecosup-Tourisme-CCA.png" alt="logo Ecosup Tourisme")/
        mj-column(padding-bottom="20px" )
            mj-image(padding="0" align="left" width="180px" src="https://i.ibb.co/Xx3GprBW/air-Training-CCA.png" alt ="logo Air Training Academy")/