mj-section(padding="20px")
    mj-column(padding="10px")
        mj-text(padding="0" mj-class="T14-900 cOf" text-transform="uppercase") Edito 
        mj-text(padding="0" mj-class="T28-300 cO") La rentrée des alternances est lancée&nbsp;!
        mj-text(padding="5px 0" mj-class="T16-400 cT") #[span(style="font-weight:700;color:#2D3748;") Ecosup Campus] et la #[span(style="font-weight:700;color:#2D3748;") Air Training Academy]  #[span(style="font-style:italic") (Paris)] s'associent pour proposer à nos étudiants en BTS tourisme une session d'initiation à l'aéronautique, qui a eu lieu cette semaine sur 4 jours. 
        mj-text(padding="5px 0" mj-class="T16-400 cT") Cette semaine aéronautique qui s'est tenue à l'école fait partie d'un partenariat plus large, impliquant une semaine de mobilité à Toulouse sur les terres d'Airbus  #[span(style="font-style:italic") (visite des usines d'assemblage, conférences, rencontres avec des professionnels, hôtesses et stewards, visite de Toulouse...)] pour nos futurs étudiants en BTS tourisme.