mj-section
    mj-column(width="30%")
        mj-image(padding="0" width="180px" src="https://i.ibb.co/392nWzsY/let042025-T02.jpg" alt="Présentation des 3 intervenants :Jérôme Delettré de Tuto at Home, Quentin Vandekerchove de l'agence Ekimo Immobilier et Esteban Gheniou de Pôlénergie")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(padding="0 25px" mj-class="T14-900 cOf" text-transform="uppercase") Portrait
        mj-text(padding="0 25px" mj-class="T28-300 cO") Pierre Buffet, formateur chez Air Training Academy
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" mj-class="T16-400 cT" ) Responsable pédagogique délégataire au sein d'#[span(style="font-weight:700;color:#2D3748;") Air Training Académy] et #[span(style="font-weight:700;color:#2D3748;") instructeur Cabin Crew Attestation], Pierre a rencontré nos étudiants en BTS Tourisme pour leur expliquer le métier de l'aéronautique et notamment celui de #[span(style="font-weight:700;color:#2D3748;") steward] et d'#[span(style="font-weight:700;color:#2D3748;") hôtesse de l'air]. Ce passionné d'aviation est pilote depuis l'âge de 13 ans en aéro-club&nbsp;!