//- Réseaux sociaux
mj-section
    mj-column(width='88%')
        mj-social(inner-padding='0 20px' icon-size='30px' mode='horizontal')
            mj-social-element(src='https://i.ibb.co/B5MhD5My/linkedin-RY.png' href='https://fr.linkedin.com/company/ecosup-campus' alt='Linkedin')
            mj-social-element(src='https://i.ibb.co/xS4khv4Y/instagram-RY.png' href='https://www.facebook.com/EcosupCamp' alt='Facebook')    
            mj-social-element(src='https://i.ibb.co/21J2NmD8/facebook-RY.png' href='https://www.instagram.com/ecosup.campus' alt='Instagram')      