//- Réseaux sociaux
mj-section
    mj-column(width='88%')
        mj-social(inner-padding='0 20px' icon-size='30px' mode='horizontal')
            mj-social-element(src='https://i.ibb.co/5WgRmyv5/linkedin-O.png' href='https://fr.linkedin.com/company/ecosup-campus' alt='Linkedin')
            mj-social-element(src='https://i.ibb.co/HTppdbgQ/facebook-O.png' href='https://www.facebook.com/EcosupCamp' alt='Facebook')    
            mj-social-element(src='https://i.ibb.co/rGcLcj4c/instagram-O.png' href='https://www.instagram.com/ecosup.campus' alt='Instagram')      