extends templates/_layout
block content
        //- Newsletter + Signature
        mj-section(background-color="#1F3C90" padding="0")
            mj-group
                mj-column(vertical-align="middle")
                    mj-text(align="left" mj-class="T14-900" color="#ffffff") Avril 2025
                mj-column(vertical-align="middle")
                    mj-image(align="right" width="100px" src="https://i.ibb.co/JndJbtQ/Logo-Tourisme-Blanc.png" alt="Ecosup Tourisme, formations BTS, Bachelor et Mastère" )
        mj-section(background-color='#dce6ef' padding="0px")
            mj-column(width="100%")
                mj-image(padding="0" width="600px" fluid-on-mobile="true" src="https://i.ibb.co/yFJ79628/let042025-T01.jpg" alt="aéroport : embarquement des passagers")/